<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Market Analyzer</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/about.css') }}"
    />
  </head>
  <body>
    <div class="about-section">
      <div class="container">
        <div class="about-content">
          <div class="about-text">
            <h2>About Me</h2>
            <p>
              Arjeet Anand is a proactive B.Tech student majoring in Electronics & Communication Engineering at Vellore Institute of Technology, demonstrating a strong passion for AI/ML. With a CGPA of 8.77, Arjeet has showcased proficiency in a multitude of programming languages and technologies, including Python, Machine Learning, Deep Learning, HTML, CSS, JavaScript, Data Science and SQL. During a recent internship, Arjeet utilized Pandas and Seaborn libraries to analyze stock availability and sales data, contributing to data-driven decision-making. Arjeet's projects, such as the innovative movie recommendation system CineSuggest and the automated alveoli disease detection using CNN, demonstrate his deep understanding of AI and its practical applications. With a commitment to continuous learning, showcasing a strong desire to grow and excel in the field of AI/ML.
            </p>
          </div>
          <div class="about-image">
            <img
              src="{{ url_for('static', filename='images/Arjeet.jpg') }}"
              alt="Arjeet Anand"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
